body {
    background-color: cadetblue;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    margin: 12px 0;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    align-items: center;
    color: darkblue;
}

form {
    padding: 20px;
    border-radius: 8px;
}
form h2 {
    color: chocolate;
}
form label {
    display: block;
}
form input {
    flex: 1;
    padding: revert;
    border: 2px solid black;
    border-radius: 5px;
    margin: auto;
    text-align: center;
}

/* Login and Register form */
#formbtn {
    background-color: green;
    cursor: pointer;
    border-radius: 6px;
}
#formbtn:hover {
    background-color: yellow;
}

.navbar {
    width: 93%;
    min-width: 350px;
    max-width: 600px;
    height: 60px;
    background: linear-gradient(70deg, blue, green);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin: 30px 10px 0 10px;
    border-radius: 10px;
    box-sizing: border-box;
}
.nav-left h2 {
    padding: 15px;
    font-size: 25px;
}
.nav-right{
    display: flex;
    gap: 10px;
}
.nav-right button {
    background: white;
    color: #075e54;
    border: none;
    padding: 6px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

#online-users {
    position: fixed;
    left: 10px;
    top: 50px;
    background: green;
    padding: 10px;
    border-radius: 10px;
    width: 150px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    display: none;
}

#toggle-users {
    left: 10px;
}
#logout {
    right: 10px;
}
#toggle-users:hover {
    background-color: #09ed15;
}
#logout:hover {
    background-color: red;
}

.container {
    width: 90%;
    min-width: 350px;
    max-width: 600px;
    margin: 10px;
    margin-top: 0;
    height: 65vh;
    padding: 10px;
    overflow-y: auto;
    scrollbar-width: none;
    scrollbar-color: transparent transparent;
    margin-bottom: 15px;
    border-radius: 10px;
    scroll-behavior: smooth;
    background: linear-gradient(to bottom, #f0f2f5, #dcd6f7);
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.container::-webkit-scrollbar {
    width: 6px;
}
.container::-webkit-scrollbar-track {
    background: transparent;
}
.container:hover {
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.4) transparent;
}
.container:hover::-webkit-scrollbar {
    width: 6px;
}
.container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    transition: background 0.3s ease;
}
.container:hover::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
}
.container:hover::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.5);
}

/* common message */
.message {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    gap: 0px;
    min-width: 100px;
    max-width: 70%;
    padding: 7px;
    margin: 2px 0;
    border-radius: 10px;
    font-size: 14px;
    word-break: break-word;
    overflow-wrap: anywhere;
    white-space: pre-wrap;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    animation: fadeIn 0.2s ease;
    align-items: revert;
}
.message:hover {
    transform: scale(1.02);
}
.msg-name{
    color: green;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 1px;
    opacity: 0.7;
    align-items: flex-start;
}
.msg-text {
    flex: 1;
    font-size: 14px;
    align-items: flex-start;
}
.msg-time {
    font-size: 10px;
    color: gray;
    text-align: right;
    padding-top: 3px;
    margin: -4px;
    opacity: 0.6;
    align-items: flex-end;
}

/* delete button */
.delete-btn {
    display: none;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 8px;
    padding: 0;
    opacity: 0;
    transition: 0.2s;
    appearance: none;
    -webkit-appearance: none;
    align-items: flex-end;
    margin-left: auto;
    margin-bottom: -5px;
    margin-top: 2px;
    margin-right: -5px;
    width: 15px;
}
.message:hover .delete-btn {
    display: block;
    opacity: 1;
}
.delete-btn:focus {
    outline: none;
}

/* LEFT (other users) */
.left {
    background-color: #ffffff;
    align-self: flex-start;
    border-bottom-left-radius: 5px;
}
/* RIGHT (your messages) */
.right {
    background-color: #dcf8c6;
    align-self: flex-end;
    border-bottom-right-radius: 5px;
}

/* center (join/leave msg) */
.center {
    align-self: center;
    background: transparent;
    font-size: 10px;
    color: gray;
    border: none;
    margin: 2px;
    padding: 2px;
    align-items: center;
}

/* Typing Indicator */
#typing-indicator {
    position: absolute;
    padding: 0 20px;
    font-size: 14px;
    color: darkblue;
    font-style: italic;
    background: transparent;
    transition: 0.2s;
    opacity: 0.8;
    margin: -10px 10px;
}

/* input area */
.send {
    margin: 10px;
    width: 90%;
}

#send-container {
    display: flex;
    margin: 25px 10px;
    padding: 0;
    text-align: center;
    min-width: 350px;
    max-width: 600px;
    width: 100%;
}

#messageInp {
    flex: 1;
    padding: 0 10px;
    width: 80%;
    border: none;
    border-radius: 10px;
    height: 5vh;
    text-align: left;
}

/* Message Send */
.okbtn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 5px;
    padding: revert;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    height: 5vh;
    width: 15%;
    color: white;
    background-color: rebeccapurple;
}
.okbtn:hover {
    background: green;
}
    
#abt, #back {
    text-align: center;
    margin: auto;
}